name: CI

on:
  push:
  pull_request:

jobs:
  lint-and-build:
    name: Check lint and build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version-file: '.nvmrc'
      - name: Install dependencies
        run: yarn install --frozen-lockfile
      - name: Run linter
        run: yarn lint:test
      - name: Build project
        run: yarn build

